<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen p-10 bg-zinc-800 block">
        <h1 class="text-center text-2xl text-slate-200 m-10">Update Name</h1>
        <form action="/updatename" method="POST" class="flex flex-col">
            <input type="text" name="title" class="w-full p-3 border-none text-slate-500 bg-slate-900 rounded-md mb-3 caret-emerald-400 focus:outline-emerald-400" value="<%=title1%>" readonly="true">
            <input type="text" name="newtitle" class="w-full p-3 border-none text-slate-100 bg-slate-900 rounded-md mb-3 caret-emerald-400 focus:outline-emerald-400" placeholder="New Name">
            <input type="submit" class="bg-yellow-400 w-40 rounded-md p-3 mt-4 font-bold text-black-100" value="Update">
        </form>
    </div>
</body>
</html>